<form action="/movies" method="post">
  <fieldset>
    <legend>Create New Movie Below:</legend>
    <input type="text" name="title" id="title" placeholder="Movie Title:"><br></br>
      <textarea id="comment" name="comment" rows="5" cols="98" placeholder="Enter your movie comment(s) here:"></textarea>
      <br></br>
    <label>Date Purchased:</label><br></br>
    <input type="date" name="date_purchased" id="date_purchased">
      <br></br>
    <input type="submit" id="submit" value="Save Movie">
  </fieldset>
</form><br></br>
<a href="/">Home</a>
