<form action="/signup" method="POST">
  <fieldset>
    <legend>Sign Up Below:</legend></br>
    <input type="text" name="username" placeholder="Username:">
    <input type="password" name="password" placeholder="Password:"><br></br> <!--input type = password to mask with asterisks-->
    <input type="submit" value="Sign Up">
  </fieldset>
</form><br></br>
<a href="/">Home</a>
