<p>Here you can save all your movies!</p>
<h4>Click on one of the following links below to:</h4> <!--CRUD-->
  <ul>
    <li><a href="/movies/new">(C)reate new movie</a></li>
    <li><a href="/movies/restaurants">(R)ead aobut movie</a></li><!--show user's movies to select one to show.erb -->
    <li><a href="/movies">(U)pdate movie</li>
    <li><a href="/movies">(D)elete movie</li>
  </ul>
<a href="/">Home</a>
