<h3>Welcome to My Movie Collection</h3>
<p>Here you can save all of the movies you own! Thank you for visiting!</p>
<p>This CMS app was built using
  <a target="_blank"
    rel="noopener noreferrer"
    href="http://sinatrarb.com/">
    Sinatra</a>, a Ruby web framework.
</p>
